.color-container{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    gap:12.5px;
}
.circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid black;
}